

.box-div{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.searchbar-Input{
    font-size: 15px;
    font-weight: 500;
    width: 400px;
    max-width: 400px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid white;
    background: #fff;
    color:#495057;
    padding-left: 20px;
    vertical-align: center;
}
.searchbar-Input:focus{
    border-color: #F25628;
    outline:0;
    box-shadow: 0 0 0 0.2rem rgba(242, 87, 40, 0.014);
}
.searchbar-bouton{
        background-color: #F25628; /* Green */
        border: none;
        height: 44px;
    vertical-align: bottom;
        color: white;
        width: 45px;
        text-decoration: none;
        display: inline-block;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: none;
        border-top-right-radius: none;
        transition-duration: 0.4s;
    
}
.searchbar-bouton:hover{
    background-color: #ee8261; /* Green */
}

.searchbar-bouton:focus{
    border-color: #F25628;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(242, 87, 40, 0.014);
}
@media (max-width: 564px) {
    .searchbar-Input{
        width:290px;
        
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
    }
    .searchbar-bouton{
        display: none;
    }
}
